MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/todo
ACCESS_TOKEN_SECRET=replace-with-a-long-random-access-secret
REFRESH_TOKEN_SECRET=replace-with-a-different-long-random-refresh-secret
CLIENT_URL=http://localhost:5173
PUBLIC_URL=http://localhost:3000
PORT=3000